
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JPOP 원픽</title>
  <link rel="stylesheet" href="foundation/css/foundation.css">
  <link rel="stylesheet" href="foundation/css/app.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <style>
  /*모든 것을 감싸는 div*/
    #main {
      width: 1000px;
      margin: 0 auto;
      top: 10px;
      position: relative;
      height: inherit;

    }

  /*상단 바 */
    #top {
      height: 150px;
    }

  </style>


</head>

<body>
  <div id="main">
    <div id="top">
      <h1 style="text-align: center;"><a href="./index.php" style="color: black;">JPOP 원픽</a></h1>
      <br>
      <form action="#" method="get">
        <input type='text' style="border-radius: 20px; width:500px; height:50px; margin: auto;" placeholder="검색.." id="keyword">
        <image src="./src/magnifier.jpg" style="heigth: 60px; width:60px; position: absolute; right: 250px;top:95px;">
      </form>
    </div>
    <hr>
